In [ ]:
# dictionary
# list
# set

In [ ]:
# use loop on dictionary
myvalue={10:"krishna",20:"himanshu"}

for i in myvalue:
    print(i)

10
20

In [ ]:
myvalue={10:"krishna",20:"himanshu"}

for i in myvalue:
    print(i, myvalue[i])

10 krishna
20 himanshu

In [ ]:
for i in myvalue.keys():
    print(i)

10
20

In [ ]:
for i in myvalue.values():
    print(i)

krishna
himanshu

In [ ]:
myvalue.items() #[(10,"krishna"),(20,"himanshu")]

dict_items([(10, 'krishna'), (20, 'himanshu')])

In [ ]:
# loop on set
for i in {10,20,30,"a",40}:
  print(i)

40
10
a
20
30

In [ ]:
# max, min, second max, 2 value=> target

In [ ]:
# valid paranthesis

data="()"
for char in data:
  if char=="(":
    print(char)

(

In [ ]:
s="(){}"
mylist=[]
for char in s:
    if char=="(" or char=="{":
        mylist.append(char)

print(mylist)

['(', '{']

In [ ]:
s="{()}"
mylist=[]
for char in s:
    if char=="(" or char=="{":
        mylist.append(char)

print(mylist)

['{', '(']

In [ ]:
s="()"
mylist=[]
for char in s:
    if char=="(" or char=="{":
        mylist.append(char)
    else:
      if char==")" and "("==mylist[-1]:
        print("Vaild string")

print(mylist)

Vaild string
['(']

In [ ]:
s="(}"
mylist=[]
for char in s:
    if char=="(" or char=="{":
        mylist.append(char)
    else:
      if char==")" and "("==mylist[-1]:
        print("Vaild string")
      elif char=="}" and "{"==mylist[-1]:
        print("Vaild string")
      else:
        print("Invalid string")


print(mylist)

Invalid string
['(']

In [ ]:
s="{()}"
mylist=[]
for char in s:
    if char=="(" or char=="{":
        mylist.append(char)
    else:
      if char==")" and "("==mylist.pop(): #"("==(
        print("Vaild string")
      elif char=="}" and "{"==mylist.pop(): #"{"
        print("Vaild string")
      else:
        print("Invalid string")


print(mylist)

Vaild string
Vaild string
[]

In [ ]:
s="{()}"
mylist=[]
x=False
for char in s:
    if char=="(" or char=="{":
        mylist.append(char)
    else:
      if char==")" and "("==mylist.pop(): #"("==(
        x=True
      elif char=="}" and "{"==mylist.pop(): #"{"
        x=True
      else:
        x=False

if x==True:
  print("Vaild string")
else:
  print("Invalid string")

Vaild string

In [ ]:
s=input("Enter string")
mylist=[]
x=False
for char in s:
    if char=="(" or char=="{":
        mylist.append(char)
    elif(len(mylist)>0):

      if char==")" and "("==mylist.pop(): #"("==(
        x=True
      elif char=="}" and "{"==mylist.pop(): #"{"
        x=True
      else:
        x=False

if x==True:
  print("Vaild string")
else:
  print("Invalid string")

Enter string() {} []
Vaild string

In [ ]:
# pascal tringle

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print(" ",end="")
  for k in range(i):
    print("*",end=" ")
  print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end="")
    for j in range(i + 1):
        if j == 0 or j == i:
            print(1, end=" ")
        else:
            print("*",end=" ")
    print()

    1
   1 1
  1 * 1
 1 * * 1
1 * * * 1

In [ ]:
mylist=[]
for i in range(1,6):
  temp=[]
  for j in range(i,5):
    print("-",end="")

  for k in range(1,i+1):
    if k==1 or k==i:
      temp.append(1)
    else:
      temp.append("*")
  print(temp)
  mylist.append(temp)
  print("")
#print(mylist)

----[1]

---[1, 1]

--[1, '*', 1]

-[1, '*', '*', 1]

[1, '*', '*', '*', 1]

In [ ]:
mylist=[]
for i in range(0,5):
  temp=[]
  for j in range(i,4):
    print('-',end="")

  for k in range(0,i+1):
    if k==0 or k==i:
      temp.append(1)
    else:
      val=mylist[i-1][k] + mylist[i-1][k-1]
      temp.append(val)
  print(temp)
  mylist.append(temp)
  print("")

print(mylist)

----[1]

---[1, 1]

--[1, 2, 1]

-[1, 3, 3, 1]

[1, 4, 6, 4, 1]

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [ ]:
mylist=[]
for i in range(0,5):
  temp=[]
  for j in range(i,4):
    print(' ',end="")

  for k in range(0,i+1):
    if k==0 or k==i:
      temp.append(1)
    else:
      val=mylist[i-1][k] + mylist[i-1][k-1]
      temp.append(val)
  print(temp)
  mylist.append(temp)
  print("")

print(mylist)

    [1]

   [1, 1]

  [1, 2, 1]

 [1, 3, 3, 1]

[1, 4, 6, 4, 1]

In [ ]:
# number to roman